<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../assets/icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css?v=1">
    <title>Light It Up</title>
</head>
<body>
<!--#ba4c28-->
<!-- Image and text -->
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo-words.svg" style="height: 5vh" class="d-inline-block align-top mr-3"
             alt="">
    </a>
    <form class="form-inline">
        <img src="../assets/amongus.svg" style="height: 10vh" class="d-inline-block align-top mr-3"
             alt="">
    </form>
</nav>
<div class="container my-5">
    <h2 style="font-family: Dual">AMBIENCE</h2>
    <div class="row ">
        <div class="col-sm-auto">
            <div class="text-center" data-toggle="tooltip" title="" data-original-title="Turn on lights">
                <a class="squarebutton" style="background-color: #ffb300"
                   onclick="ambience('light')"><img src="../assets/icons/sun.svg"></a>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="text-center" data-toggle="tooltip" title="" data-original-title="Turn off lights">
                <a class="squarebutton" style="background-color: black"
                   onclick="ambience('off')"><img src="../assets/icons/power.svg"></a>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="text-center" data-toggle="tooltip" title="" data-original-title="Flip second relay">
                <a class="squarebutton" style="background-color: darkseagreen"
                   onclick="flip(1)"><img src="../assets/icons/settings.svg"></a>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 style="font-family: Dual">SIGNALS</h2>
    <div class="row ">
        <div class="col-sm-auto">
            <div class="text-center" data-toggle="tooltip" title="" data-original-title="Emergency signal">
                <a class="squarebutton" style="background-color: #ff2a2a"
                   onclick="signal('emergency')"><img src="../assets/icons/alert-triangle.svg"></a>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h2 style="font-family: Dual">FUNCTIONS</h2>
    <div class="row ">
        <div class="col-sm-auto">
            <a class="squarebutton" style="background-color: #5fd35f"
               onclick="func('sun')"><img src="../assets/icons/calendar.svg"></a>
        </div>
        <div class="col-sm-auto">
            <a class="squarebutton" style="background-color: #9955ff"
               onclick="func('sun')"><img src="../assets/icons/clock.svg"></a>
        </div>
        <div class="col-sm-auto">
            <a class="squarebutton" style="background-color: coral"
               onclick="func('sun')"><img src="../assets/icons/bell.svg"></a>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="../js/main.js"></script>
</body>
</html>
